<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DVDStore</title>
</head>
<body>
<h1>DVDStore : Ajout d'un film</h1>
<form method="post" th:object="${movieForm}" th:action="@{/movie/add}">
    <p>Titre <input type="text" th:field="*{title}" /></p>
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <select th:field="*{genre}">
        <option th:value="COMEDIE" th:text="Comédie"></option>
        <option th:value="HORREUR" th:text="Horreur"></option>
        <option th:value="THRILLER" th:text="Thriller"></option>
        <option th:value="ACTION" th:text="Action"></option>
        <option th:value="ROMANTIQUE" th:text="Romantique"></option>
        <option th:value="DRAME" th:text="Drame"></option>
        <option th:value="ANIMATION" th:text="Animation"></option>
    </select>
    <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>
    <p>Description <textarea style="height: 100px" th:field="*{description}" /></p>
    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    <p>Prénom de l'acteur <input type="text" style="height: 100px" th:field="*{actorFirstName}" /></p>
    <div th:if="${#fields.hasErrors('actorFirstName')}" th:errors="*{actorFirstName}"></div>
    <p>Nom de l'acteur <input type="text" style="height: 100px" th:field="*{actorLastName}" /></p>
    <div th:if="${#fields.hasErrors('actorLastName')}" th:errors="*{actorLastName}"></div>
    <input type="submit" value="OK" />
</form>
</body>
</html>