<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>DVDStore</title>
    </head>
    <body>
        <h1>DVDStore : LA boutique de DVD en ligne</h1>
        <table border="1">
            <a th:href="add-movie-form">Ajouter un film</a>
            <br />
            <br />
            <tr th:each="movie: ${movies}">
                <td th:text="${movie.id}"></td>
                <td>
                    <a th:href="@{|/movie/${movie.id}|}" th:text="${movie.title}"/>
                </td>
                <td th:text="${movie.genre}"></td>
            </tr>
        </table>
    </body>
</html>